{
	"value": {
		"properties": {
			"alfa": "bravo"
		},
		"sequence": [
			{
				"id": "a8baec90a57ff00c97d01f48ae0d1024",
				"componentType": "task",
				"type": "task",
				"name": "Rechtsschutz­versicherung",
				"properties": {}
			},
			{
				"id": "d59ecb355d66362918c72dd4029c47f1",
				"componentType": "task",
				"type": "task",
				"name": "Verklagt",
				"properties": {}
			}
		]
	},
	"isValid": true
}