{
	"value": {
		"properties": {},
		"sequence": [
			{
				"id": "06515c70f7698b78528f0057a7e55f79",
				"componentType": "task",
				"type": "task",
				"name": "Verklagt",
				"properties": {}
			},
			{
				"id": "f62be4d077f1452eaa83ee2224e8177b",
				"componentType": "task",
				"type": "task",
				"name": "Rechtsschutz­versicherung",
				"properties": {}
			}
		]
	},
	"isValid": true
}