{
	"value": {
		"properties": {},
		"sequence": [
			{
				"id": "1744ac37acbc43b42dcaee9768fa9cf5",
				"componentType": "switch",
				"type": "parallel",
				"name": "Rechtsschutz­versicherung",
				"properties": {},
				"branches": {
					"Ja": [
						{
							"id": "e0093bd63fa66c22384a249a102497d1",
							"componentType": "switch",
							"type": "parallel",
							"name": "Verklagt",
							"properties": {},
							"branches": {
								"Ja": [],
								"Nein": []
							}
						}
					],
					"Nein": []
				}
			},
			{
				"id": "32a6ec8245aeb50999d7324230c36a15",
				"componentType": "switch",
				"type": "parallel",
				"name": "Verklagt",
				"properties": {},
				"branches": {
					"Ja": [],
					"Nein": []
				}
			}
		]
	},
	"isValid": true
}