{
	"value": {
		"properties": {},
		"sequence": [
			{
				"id": "1744ac37acbc43b42dcaee9768fa9cf5",
				"componentType": "switch",
				"type": "parallel",
				"name": "Rechtsschutz­versicherung",
				"properties": {},
				"branches": {
					"Ja": [
						{
							"id": "66a7a929485fb4c3a6fc5eacf17d960a",
							"componentType": "task",
							"type": "task",
							"name": "Hinweis Rechtsschutzversicherung",
							"properties": {}
						}
					],
					"Nein": []
				}
			},
			{
				"id": "32a6ec8245aeb50999d7324230c36a15",
				"componentType": "switch",
				"type": "parallel",
				"name": "Verklagt",
				"properties": {},
				"branches": {
					"Ja": [],
					"Nein": []
				}
			}
		]
	},
	"isValid": true
}