{
	"value": {
		"properties": {},
		"sequence": [
			{
				"id": "025bcdabd3d23b23617749be180bcbec",
				"componentType": "switch",
				"type": "parallel",
				"name": "Rechtsschutz­versicherung",
				"properties": {
					"slug": "rechtsschutzversicherung",
					"branches": [
						{
							"name": "yes",
							"text": "Ja"
						},
						{
							"name": "no",
							"text": "Nein"
						}
					]
				},
				"branches": {
					"Ja": [
						{
							"id": "f8115591bb1fca6a18ad41dd17a06ea9",
							"componentType": "task",
							"type": "task",
							"name": "Abbruch",
							"properties": {
								"slug": "rechtsschutzversicherung-abbruch"
							}
						}
					],
					"Nein": []
				}
			}
		]
	},
	"isValid": true
}